.contentLoaderContainer::after {
  content:'';
  display: block;
  position: relative;
  bottom: 30px;
  height: 10px;
  background: transparent;
  border-radius: 50px;
  box-shadow: 0 70px 50px rgba(98, 217, 251, .2);
}


.contentLoader {
  filter: hue-rotate(160deg);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.contentLoader:hover {
  animation: Wiggle 0.8s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes Wiggle {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
