#brand .header,
#brand .container {
  padding: 20px;
  min-height: 25vh;
  margin-bottom: 40px;
}

#brand .header {
  text-align: center;
}

#brand .container {
  margin: 0 auto;
  max-width: 1280px;
}

#brand .container h3,
#brand .container p {
  text-align: center;
}

#brand .container h3 {
  font-size: 1.5em;
}

#brand .container code {
  background: none;
  padding: 0;
}

#brand .container .brandContent  {
  margin-bottom: 25px;
}

#brand .container .brandLogos .brandLogos-main {
  display: flex;
  flex-wrap: wrap;
}

#brand .container .brandLogos .brandLogo {
  position: relative;
  margin: 5px;
  max-width: calc(50% - 20px);
  border-radius: 3px;
  background-position: 0 0,30px 30px;
  background-size: 20px 20px;
}

#brand .container .brandLogos .brandLogo img {
  width: 100%;
}

#brand .container .brandColorSwatches {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#brand .container .brandColors {
  height: 100%;
}

#brand .container .brandColorSwatches .brandColorSwatch {
  margin: 5px;
  padding: 20px;
  height: 100%;
  width: 100%;
  max-height: 150px;
  max-width: 190px;
  background-color: #F5F5F5;
  color: #222;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .5);
  border-radius: 3px;
  transform: translateY(0);
  transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
  cursor: pointer;
}

#brand .container .brandColorSwatches .brandColorSwatch:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, .2);
}


@media (max-width: 490px) {
  #brand .container .brandColorSwatches .brandColorSwatch {
    max-width: 100%;
  }
}


@media (max-width: 1136px) {
  #brand .container .brandLogos .brandLogo {
    width: 100%;
    max-width: 100%;
  }
}
